/*Master*/

body{
    font-family: Helvetica, sans-serif ;
    margin: 0px;
    padding: 40px;
    background: rgb(27,167,181);
    background: linear-gradient(90deg, rgba(27,167,181,1) 13%, rgba(222,181,28,1) 100%);
}

.container{
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.login > input[type=text], .login > input[type=password] {
    width: 120%;
    padding: 12px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #d8d8d885;
}

/*table {*/
/*    font-family: arial, sans-serif;*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*navigation style*/
.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side , .right-side{
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
}

/*all the as in the nav-link wrapper */
.nav-link-wrapper a {
    color: bisque;
    text-decoration: none;
    transition: coor 0.5s;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 3px;
    font-size: 1em;
    display: block;
    text-align: left;
}

.search-link-wrapper form {
    display: flex;
    text-align: right;
    justify-content: space-around;
    text-transform: uppercase;
}

/*in the form tag look for serach class*/
form.search {
    padding: 10px 4px;
    display: inline-block;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

/*********************************************************************
 * How TO - CSS/JS Modal
 * Source: https://www.w3schools.com/howto/howto_css_modals.asp
 *********************************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
