/*Master*/

body{
    font-family: Helvetica, sans-serif ;
    margin: 0px;
    padding: 40px;
    background: rgb(131, 185, 191);
    /*background: linear-gradient(90deg, rgba(27,167,181,1) 13%, rgba(222,181,28,1) 100%);*/
}

.container{
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.login > input[type=text], .login > input[type=password] {
    width: 120%;
    padding: 12px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #d8d8d885;
}

/*table {*/
/*    font-family: arial, sans-serif;*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*navigation style*/
.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side , .right-side{
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-wrapper > .left-side > staff {
    margin-right: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
}

/*all the as in the nav-link wrapper */
.nav-link-wrapper a {
    color: bisque;
    text-decoration: none;
    transition: coor 0.5s;
}

.search-link-wrapper form {
    display: flex;
    text-align: right;
    justify-content: space-around;
    text-transform: uppercase;
}

/*in the form tag look for serach class*/
form.search {
    padding: 10px 4px;
    display: inline-block;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}


.auto-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.autocomplete-searchbox {
    height: 30px;
    width: 200px;
}
