body{
    font-family: Helvetica, sans-serif ;
    margin: 0px;
    padding: 40px;
    background: rgb(27,167,181);
    background: linear-gradient(90deg, rgba(27,167,181,1) 13%, rgba(222,181,28,1) 100%);
}

.container{
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0);
}

form.login input[type=text], input[type=password] {
    width: 120%;
    padding: 12px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #d8d8d885;
}

h1 {
    font-family: arial, sans-serif;
}

/*table {*/
/*    font-family: arial, sans-serif;*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



button {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1, h2 {
    font-family: arial, sans-serif;
}

/*index.html*/
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.submit button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}